@media (max-width: 1260px) {
  article{
    max-width: 65vw;

  
  }
  aside{
  
    width: 22vw;

  }
}

@media (max-width: 1024px) {
  aside{
    display: none;
  }
  article{
    max-width: 87vw;
  }
}
@media (max-width: 523px) {
  article{
    max-width: 100vw;
  }
  #article-title{
    font-size: 2rem;
    margin: 1rem auto;
  }
}

@media (max-width: 375px) {
  #article-title{
    font-size: 1.7rem;
    margin: 1rem auto;
  }
}